body{
    background-image: url("https://c1.wallpaperflare.com/preview/588/623/690/interior-white-office-workspace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    background-position:center;
    background-attachment: fixed;
    /* backdrop-filter: blur(1px); */
}

.custom
{
    height: 100vh;
    
}